<p id="notice"><%= notice %></p>

<h1>Enquiries (<%= Enquiry.count %>)</h1>

<%= link_to 'Refresh', enquiries_path %>

<%= form_tag("/imports", method: "post") do %>
  <%= submit_tag("Check for new enquiries") %>
<% end %>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>

  <%= f.label :message_cont %>
  <%= f.search_field :message_cont %>

  <%= f.select :state_eq, Enquiry.states.map { |s| [s[0].humanize, s[1]] },
                         {:include_blank => true} %>

  <%= f.select :source_eq, Enquiry::SOURCES,
                         {:include_blank => true} %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Enquiry.human_attribute_name(:id)%></th>
      <th><%= Enquiry.human_attribute_name(:source)%></th>
      <th><%= Enquiry.human_attribute_name(:email)%></th>
      <th><%= Enquiry.human_attribute_name(:name)%></th>
      <th><%= Enquiry.human_attribute_name(:message)%></th>
      <th><%= Enquiry.human_attribute_name(:state)%></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.id %></td>
        <td><%= enquiry.source %></td>
        <td><%= enquiry.name %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.message %></td>
        <td><%= enquiry.state %></td>
        <td><%= link_to 'Done', done_enquiry_state_path(enquiry), data: { confirm: "Are you sure? "} %></td>
        <td><%= link_to 'Show', enquiry %></td>
        <td><%#= link_to 'Edit', edit_enquiry_path(enquiry) %></td>
        <td><%#= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>

<%#= link_to 'New Enquiry', new_enquiry_path %>
