<p id="notice"><%= notice %></p>

<h1>Enquiries (<%= Enquiry.active.count %>)</h1>

<%= form_tag("/imports", method: "post") do %>
  <%= submit_tag("Check for new enquiries") %>
<% end %>

<br>

<%= link_to 'Refresh', enquiries_path, style: 'float: right;' %>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>

  <%= f.label :vehicle %>
  <%= f.search_field :make_or_model_or_colour_cont, placeholder: 'e.g. Renault or Clio' %>

  <%= f.label :year_cont %>
  <%= f.search_field :year_cont %>

  <%= f.select :state_eq, Enquiry.states.except(:archived).map { |s| [s[0].humanize, s[1]] },
                         {:include_blank => true} %>

  <%= f.select :source_eq, Enquiry::SOURCES,
                         {:include_blank => true} %>

  <%= f.submit %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :source) %></th>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :email) %></th>
      <th><%= sort_link(@q, :make) %></th>
      <th><%= sort_link(@q, :model) %></th>
      <th><%= sort_link(@q, :year) %></th>
      <th><%= sort_link(@q, :state) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.id %></td>
        <td><%= enquiry.source %></td>
        <td><%= enquiry.name %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.make %></td>
        <td><%= enquiry.model %></td>
        <td><%= enquiry.year %></td>
        <td><%= enquiry.state.humanize %></td>
        <td>
          <% if enquiry.can_transition_to?(:done) %>
            <%= link_to 'Done', done_enquiry_state_path(enquiry), data: { confirm: "Are you sure? "} %>
          <% end %>

          <% if enquiry.can_transition_to?(:not_valid) %>
            <%= link_to 'Invalid', not_valid_enquiry_state_path(enquiry), data: { confirm: "Are you sure? "} %>
          <% end %>

          <% if enquiry.can_transition_to?(:archived) %>
            <%= link_to 'Archive', archived_enquiry_state_path(enquiry), data: { confirm: "Are you sure? "} %>
          <% end %>

          <% if enquiry.can_transition_to?(:edited) %>
            <%= link_to 'Edit', edit_enquiry_path(enquiry) %>
          <% end %>

          <%= link_to 'Show', enquiry %>
          <%#= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @enquiries %>

<%= link_to 'Back', root_path %>

<%#= link_to 'New Enquiry', new_enquiry_path %>
