<p id="notice"><%= notice %></p>

<p>Customer details:</p>

<strong><%= Enquiry.human_attribute_name(:id) %>:</strong>
<%= @enquiry.id %>
<br>

<strong><%= Enquiry.human_attribute_name(:source) %>:</strong>
<%= @enquiry.source %>
<br>

<strong><%= Enquiry.human_attribute_name(:email) %>:</strong>
<%= @enquiry.email %>
<br>

<strong><%= Enquiry.human_attribute_name(:name) %>:</strong>
<%= @enquiry.name %>
<br>

<strong><%= Enquiry.human_attribute_name(:message) %>:</strong>
<%= @enquiry.message %>
<br>

<p>Vehicle details:</p>

<strong><%= Enquiry.human_attribute_name(:make) %>:</strong>
<%= @enquiry.make %>
<br>

<strong><%= Enquiry.human_attribute_name(:model) %>:</strong>
<%= @enquiry.model %>
<br>

<strong><%= Enquiry.human_attribute_name(:colour) %>:</strong>
<%= @enquiry.colour %>
<br>

<strong><%= Enquiry.human_attribute_name(:year) %>:</strong>
<%= @enquiry.year %>
<br>

<strong><%= Enquiry.human_attribute_name(:reference) %>:</strong>
<%= @enquiry.reference %>
<br>

<p>Status:</p>

<strong><%= Enquiry.human_attribute_name(:state) %>:</strong>
<%= @enquiry.state.humanize %>
<br>

<%#= link_to 'Edit', edit_enquiry_path(@enquiry) %>
<%= link_to 'Back', enquiries_path %>
